ui-message {

.pm-ui-message {
    color: red;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 1em;
    font-size: 1.02rem !important;
}
.pm-ui-success-message {
    color: green;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 1em;
    font-size: 1.02rem !important;
}
}